<div class="album-info-container">
    <img class="album-info-image" src="{{album['image']}}" alt="album-image">
    <h1 class="album-info-title">{{album['title']}}</h1>
    <p class="album-info-artist"><span>{{album['artist']}}</span></p>
    <button class="rep-button">REPRODUCIR</button>
    <p class="extra-info">{{album['year']}}  -  {{album['canciones'].length}} canciones</p>
    <div class="fav-more-buttons">
        <i class="fas fa-heart float-left"></i>
        <i class="fas fa-ellipsis-h float-right" (click) = "addAlbumToPlaylists(id)"></i>
    </div>
</div>
