.home-view {
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}
.side-bar-navigator {
    width: 230px;
    background-color: #000000;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.menu {
    padding-top: 30px;
    margin: 0;
}
.menu > div {
    padding-left: 25px;
}

/* Main */

.main-home-container {
    background-color: rgb(24, 24, 24);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.main-home {
    margin-left: 222px;
}
@media (max-width: 768px) {
    .main-home {
        margin-left: 0;
    }
}
.sections-container {
    margin-left: 15px;
}

