<div class="home-view d-flex flex-row">
    <div class="side-bar-navigator d-none d-md-block">
        <div class="sidebar-container">
            <div class="row logo-container w-100">
                <div class="col-12 w-100">
                    <app-c-logo></app-c-logo>
                </div>
            </div>
            <div class="row menu">
                <div class="col-12"> 
                    <app-c-menu></app-c-menu>
                </div>
            </div>
            <div class="row playlists-container">
                <div class="col-12">
                    <app-c-playlists></app-c-playlists>
                </div>
            </div>
        </div>        
    </div>
    <div class="main-home-container">
        <div class="main-home">
            <div class="row">
                <div class="col-12">
                    <app-c-horinzontal-menu></app-c-horinzontal-menu>
                </div>
            </div>
            <div class="sections-container">
                <div class="row">
                    <div class="col-12 text-center">
                        <app-c-section></app-c-section>
                    </div>
                </div>
            </div>
        </div>
    </div>     
</div>
