.home-view {
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}
.side-bar-navigator {
    width: 230px;
    background-color: #000000;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.menu {
    padding-top: 30px;
    margin: 0;
}
.menu > div {
    padding-left: 25px;
}

/* Main */

.main-home-container {
    background-color: rgb(24, 24, 24);
    width: 100vw;
}
.main-home {
    margin-left: 222px;
    height: 100vh;
}

/* Player */

.player {
    width: 100vw;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(40, 40, 40);
    z-index: 2;
}
