<p class="playlist-text">PLAYLISTS</p>
<div class="add-playlist" data-toggle="modal" data-target="#modalCookie1">
    <p><i class="fas fa-plus-square add-playlist-button"></i><span>Crear playlist</span> </p>
</div>
<div class="playlist-list">

</div>

<!--Modal-->
<!--Modal: modalCookie-->
<div class="modal fade top modal-playlist" id="modalCookie1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" data-backdrop="true">
  <div class="modal-dialog modal-frame modal-top modal-notify modal-info modal-style w-100" role="document">
    <!--Content-->
    <div class="add-playlist-modal">
        <div class="row close-modal-button">
            <p (click) = "prueba()"><i class="fas fa-times"></i></p>
        </div>
        <div class="row title-modal">
            <h1>Crear nueva playlist</h1>
        </div>
        <div class="row main-modal">
            <div class="main-modal-container">
                <p class="main-modal-container-text">Nombre de tu playlist</p>
                <input type="text" placeholder="Nueva playlist" autofocus>
            </div>
        </div>
        <div class="row modal-create-button">
            <button>Crear</button>
        </div>    
    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: modalCookie-->
<!--Section: Live preview-->


