<p class="playlist-text">PLAYLISTS</p>
<div class="add-playlist" data-toggle="modal" data-target="#modalCookie1">
    <p><i class="fas fa-plus-square add-playlist-button"></i><span>Crear playlist</span> </p>
</div>
<div class="playlist-list" (click) = "hideDropdown(false)">
    <div class="single-playlist" *ngFor = "let playlist of arrPlaylist">
        <p class="playlist-name" (contextmenu) = "showDropdown($event, true, playlist['id'] )" routerLink = "album/{{playlist['id']}}">{{playlist["title"]}}</p>
        <div id="context-menu" *ngIf = "clicked === true" [ngStyle] = "styleProperties">   <!--Dropdown-->
            <div class="context-menu">
                <div class="row dropdown-item-row" (click) = "deletePlaylist(playlist['id'])">
                    <div class="col-12 dropdown-item-column">
                        <a class="dp-item  delete-playlist-button">Eliminar</a>
                    </div>
                </div> 
                <div class="row dropdown-item-row">
                    <div class="col-12 dropdown-item-column">
                        <a class="dp-item" >Renombrar</a>
                    </div>
                </div>
            </div>                  
        </div>
    </div>
</div>
  
 