<div class="menu-container w-100">
    <div class="row home selected w-100">
        <div class="col-12">
            <p class="menu-text" routerLink = "/home"><i class="fab fa-houzz mr-4 menu-icon"></i>Inicio</p>
        </div>
    </div>
    <div class="row search">
        <div class="col-12">
            <p class="search-text"><i class="fas fa-search mr-4 menu-icon"></i>Buscar</p>
        </div>
    </div>
    <div class="row library">
        <div class="col-12">
            <p class="library-text"><i class="fas fa-compact-disc mr-4 menu-icon"></i>Tu biblioteca</p>
        </div>
    </div>
</div>

